<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Matajer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>FacebookAppID</key>
    <string>957782142162304</string>
    <key>FacebookDisplayName</key>
    <string>Matajer</string>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
    <key>aps-environment</key>
    <string>production</string>
	<key>CFBundleIcons</key>
	<key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon16x16</string>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon32x32</string>
				<string>AppIcon40x40</string>
				<string>AppIcon48x48</string>
				<string>AppIcon50x50</string>
				<string>AppIcon55x55</string>
				<string>AppIcon57x57</string>
				<string>AppIcon58x58</string>
				<string>AppIcon60x60</string>
				<string>AppIcon64x64</string>
				<string>AppIcon72x72</string>
				<string>AppIcon76x76</string>
				<string>AppIcon80x80</string>
				<string>AppIcon87x87</string>
				<string>AppIcon100x100</string>
				<string>AppIcon114x114</string>
				<string>AppIcon120x120</string>
				<string>AppIcon144x144</string>
				<string>AppIcon152x152</string>
				<string>AppIcon167x167</string>
				<string>AppIcon180x180</string>
				<string>AppIcon192x192</string>
				<string>AppIcon512x512</string>
				<string>AppIcon1024x1024</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Matajer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-63640744288-ios-7ebf59a1021cd64c83ae05</string>
				<string>com.googleusercontent.apps.63640744288-f4n3puad9am2ihhe5fv2p7qaj2oq6lj4</string>
				<string>fb957782142162304</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookClientToken</key>
	<string>b60efcef2604c8cf3f49bffeaeafe335</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to access library to upload images</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to access camera to take photos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to access microphone to record videos</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
